body {
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;

    background: linear-gradient(216deg, #4ee2f6, #fe6565);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 8s ease infinite;
    -moz-animation: AnimationName 8s ease infinite;
    animation: AnimationName 8s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:81% 0%}
    50%{background-position:20% 100%}
    100%{background-position:81% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:81% 0%}
    50%{background-position:20% 100%}
    100%{background-position:81% 0%}
}
@keyframes AnimationName {
    0%{background-position:81% 0%}
    50%{background-position:20% 100%}
    100%{background-position:81% 0%}
}


.navbar {
    padding: 12px;
    margin-bottom: 15px;
}

a {
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px 15px;
    display: -ms-flexbox;
    background-color: #F8F6F0;
    color: #000000;
    border: 1px;
    border-radius: 5px;
    cursor: pointer;
    /* Add transition for smooth animation */
    transition: all .325s ease-in-out;
}

a:hover {
     background: linear-gradient(216deg, #4ee2f6, #fe6565);
    -webkit-animation: AnimationName 8s ease infinite;
    -moz-animation: AnimationName 8s ease infinite;
    animation: AnimationName 8s ease infinite;
    transform: scale(1.1) translate(5px, -5px); 
}

h1 {
    
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}


label {
    margin-bottom: 10px;
    display: block;
    text-align: center;
    font-family: American Typewriter;
}

input {
    margin: 10px auto;
    padding: 8px;
    width: 10%;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
}

